<div fxLayout="column" class="padding-0-16" fxLayoutGap="20px" fxHide.lt-md="true">
    <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="accent" maxWidth="auto"
      proportion="25" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
      [useMouseWheel]="false" orientation="ltr" class="main-carousel" [ngClass.lt-md]="'mobile-main-carousel'">
      <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
        overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
    </mat-carousel>
    <div fxLayout="column" fxFlex="100" class="custom-slide1" fxHide.lt-md="true"  >
        <ng-image-slider #nav
          [images]="imageObject"
          [infinite]="false"
          [autoSlide]="1"
          [imageSize]="{width: '33%', height: 224}"
          slideImage="1"></ng-image-slider>
      </div>
      <div fxLayout="column" fxFlex="100" class="" fxHide.gt-sm="true"  >
        <ng-image-slider #nav
          [images]="imageObject"
          [infinite]="false"
          [autoSlide]="1"
          [imageSize]="{width: '48%', height: '20%'}"
          slideImage="1"></ng-image-slider>
      </div>
      <div fxLayout="column"  [ngClass.gt-md]="'padding-0-20'" >
        <div fxLayout="row" >
          <div fxLayout="column" fxFlex="80">
            <span class="font-color-6f7284 font-size-12 letter-space-1 font-weight-700"> PAYMENT PARTNER OFFERS </span>
          </div>
          <div fxLayout="column" fxFlex="20" fxLayoutAlign="center end ">
            <a class="font-color-6f7284 font-size-12 ">View all</a>
          </div>
        </div>
      </div>
      <div fxLayout="column"  [ngClass.gt-md]="'padding-0-20'" >
      <carousel
      height ="74"
    [objectFit]="'cover'"
    [cellWidth]="'95%'"
    [cellsToShow]="3"
    [arrows]="true"
    [autoplay]="false"
    [dots]="false"
    [loop]="true" class="z-index-0 Mpayment-carousel " >
    <div *ngFor="let item of paymentImage" class="carousel-cell">
      <div fxLayout="row" class="payment-cart" >
        <div fxLayout="column" fxFlex="15" class="payment-icon" >
            <img [src]='item.image'>
        </div>
        <div fxLayout="column" >
            <span>{{item.title}}</span>
            <p>
                {{item.subtitle}}
            </p>
          </div>
      </div>
    </div>
</carousel>
</div>
      <div fxLayout="column"  [ngClass.gt-md]="'padding-0-20'" >
          <div fxLayout="column"  class="popular-cart" >
            <div fxLayout="row" >
              <span>
                  POPULAR
              </span>
            </div>
            <div fxLayout="row">
              <p>
                  Diagnostic Packages
              </p>
            </div>
            <div fxLayout="row">
                <p class="small">Free home sample collection for all health checkups</p>
              </div>
            
            <div fxLayout="row"   class="margin-top-2" >
                <carousel
                height="340"
              [objectFit]="'cover'"
              [cellWidth]="'95%'"
              [cellsToShow]="4"
              [arrows]="false"
              [autoplay]="false"
              [dots]="false"
              [loop]="true" class="z-index-0 popular-carousel" >
              <div *ngFor="let item of popularImage" class="carousel-cell">
                <div fxLayout="row" class="popular-image" >
                  
                      <img [src]='item.image'  class="height-183">
                </div>
                <div fxLayout="row wrap" class="padding-top-30 padding-0-16 margin-bottom-8" >
                    <div fxLayout="column"  class="product-name" fxFlex="70" fxFlex.lt-sm="100"  >Netmeds Immunity Care</div>
                    <div fxLayout="column" fxFlex="30" fxFlex.lt-sm="100" fxLayoutAlign="center end"><s>
                        Rs. 5999.00
                    </s></div>
                </div>
                <div fxLayout="row" class="padding-bottom-16 padding-0-16" >
                    <div fxLayout="column" fxFlex="70"  class="sub-product-name"  >Healthians</div>
                    <div fxLayout="column" fxFlex="30" class="finalPrice" fxLayoutAlign="center end" >Rs. 1099.00</div>
                </div>
                <hr>
                <div fxLayout="row" class="padding-bottom-16 padding-0-16" >
                    <div fxLayout="column" fxFlex="60"  class="save"  >save upto 80%</div>
                    <div fxLayout="column" fxFlex="40" class="book" fxLayoutAlign="center end" >BOOK NOW</div>
                </div>
              </div>
          </carousel>
            </div>
          </div>
      </div>

      <div fxLayout="column"  [ngClass.gt-md]="'padding-0-20'"  *ngFor="let prod of common.commonSlider" class="margin-bottom-24">
        <div fxLayout="column"  class="popular-cart" >
          <div fxLayout="row" >
            <span class="catName">
              {{prod.section}}
            </span>
          </div>
          <div fxLayout="row">
            <p class="prodName">
              {{prod.title}}
            </p>
          </div>
          <div fxLayout="row">
              <p class="small">{{prod.subtitle}}</p>
            </div>
          
          <div fxLayout="row"   class="margin-top-2 " >
              <carousel
              [height]="prod.section =='EXPLORE'?240:355"
            [objectFit]="'cover'"
            [cellWidth]="'100%'"
            [cellsToShow]="6"
            [arrows]="true"
            [autoplay]="false"
            [dots]="false"
            [loop]="true" class="z-index-0 popular-carousel" >
            <div *ngFor="let item of prod.sliders" class="carousel-cell ">
              <div fxLayout="column"   class="shop-cart " >
              <div fxLayout="row" class="popular-image" >
                
                    <img [src]='item.image' class="margin-5-0">
              </div>
              <div fxLayout="row wrap" class="padding-top-10 padding-0-16 margin-bottom-8" *ngIf="item.heading ==''"  >

                  <div class="product-name overflow-dot">{{item.title}}</div>
                  <div  class="sub-product-name overflow-dot"  >{{item.subtitle}}</div>

              </div>
              <div fxLayout="row wrap" class="padding-bottom-16 padding-0-16" *ngIf="item.heading ==''" >
                  <div fxLayout="column" fxFlex="50"><s>
                    Rs. 5999.00
                </s></div>
                  <div fxLayout="column" fxFlex="50" class="finalPrice" fxLayoutAlign="center end" >Rs. 1099.00</div>
              </div>

              <div fxLayout="row" class="margin-bottom-8 padding-0-16 padding-top-10"  *ngIf="item.heading ==''" >
                <button mat-button class="background-primary custom-button" >ADD TO CART</button>
              </div>
              </div>
              <div fxLayout="row" *ngIf="item.heading!=''">
                <div class="product-name overflow-dot">{{item.heading}}</div>
              </div>
            </div>
        </carousel>
          </div>
        </div>
    </div>
  </div>



  <div fxLayout="column" class="padding-0-16" fxLayoutGap="20px" fxHide.gt-sm="true" >
    <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="accent" maxWidth="auto"
      proportion="25" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
      [useMouseWheel]="false" orientation="ltr" class="main-carousel" [ngClass.lt-md]="'mobile-main-carousel'">
      <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
        overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
    </mat-carousel>

      <div fxLayout="column" fxFlex="100" class="" >
        <ng-image-slider #nav
          [images]="imageObject"
          [infinite]="false"
          [autoSlide]="1"
          [imageSize]="{width: '48%', height: '20%'}"
          slideImage="1"></ng-image-slider>
      </div>
      <div fxLayout="column"  [ngClass.gt-md]="'padding-0-20'" >
        <div fxLayout="row" >
          <div fxLayout="column" fxFlex="80">
            <span class="font-color-6f7284 font-size-12 letter-space-1 font-weight-700"> PAYMENT PARTNER OFFERS </span>
          </div>
          <div fxLayout="column" fxFlex="20" fxLayoutAlign="center end ">
            <a class="font-color-6f7284 font-size-12 ">View all</a>
          </div>
        </div>
      </div>
      <div fxLayout="column"  [ngClass.gt-md]="'padding-0-20'" >
      <carousel
      height ="74"
    [objectFit]="'cover'"
    [cellWidth]="'95%'"
    [cellsToShow]="1"
    [arrows]="true"
    [autoplay]="false"
    [dots]="false"
    [loop]="true" class="z-index-0 Mpayment-carousel " >
    <div *ngFor="let item of paymentImage" class="carousel-cell">
      <div fxLayout="row" class="payment-cart" >
        <div fxLayout="column" fxFlex="15" class="payment-icon" >
            <img [src]='item.image'>
        </div>
        <div fxLayout="column" >
            <span>{{item.title}}</span>
            <p>
                {{item.subtitle}}
            </p>
          </div>
      </div>
    </div>
</carousel>
</div>
      <div fxLayout="column"  [ngClass.gt-md]="'padding-0-20'" >
          <div fxLayout="column"  class="popular-cart" >
            <div fxLayout="row" >
              <span>
                  POPULAR
              </span>
            </div>
            <div fxLayout="row">
              <p>
                  Diagnostic Packages
              </p>
            </div>
            <div fxLayout="row">
                <p class="small">Free home sample collection for all health checkups</p>
              </div>
            
            <div fxLayout="row"   class="margin-top-2" >
                <carousel
                height="340"
              [objectFit]="'cover'"
              [cellWidth]="'95%'"
              [cellsToShow]="1"
              [arrows]="false"
              [autoplay]="false"
              [dots]="false"
              [loop]="true" class="z-index-0 popular-carousel" >
              <div *ngFor="let item of popularImage" class="carousel-cell">
                <div fxLayout="row" class="popular-image" >
                  
                      <img [src]='item.image'  class="height-183">
                </div>
                <div fxLayout="row" class="padding-top-30 padding-0-16 margin-bottom-8" >
                    <div fxLayout="row" fxFlex="100" class="product-name height-auto overflow-dot-1" >Netmeds Immunity Care</div>
                   

                </div>
                <div fxLayout="row" class=" padding-0-16 margin-bottom-8" >
                  <div fxLayout="row" fxFlex="100" class="sub-product-name height-auto overflow-dot-1"  >Healthians</div>

              </div>
                <div fxLayout="row" class="padding-bottom-16 padding-0-16" >
                  <div fxLayout="column" fxFlex="50" fxLayoutAlign="center start"><s>
                    Rs. 5999.00
                </s></div>
                    
                    <div fxLayout="column" fxFlex="50" class="finalPrice" fxLayoutAlign="center end" >Rs. 1099.00</div>
                </div>
                <hr>
                <div fxLayout="row" class="padding-bottom-16 padding-0-16" >
                    <div fxLayout="column" fxFlex="60"  class="save"  >save upto 80%</div>
                    <div fxLayout="column" fxFlex="40" class="book" fxLayoutAlign="center end" >BOOK NOW</div>
                </div>
              </div>
          </carousel>
            </div>
          </div>
      </div>

      <div fxLayout="column"  [ngClass.gt-md]="'padding-0-20'"  *ngFor="let prod of common.commonSlider" class="margin-bottom-24">
        <div fxLayout="column"  class="popular-cart" >
          <div fxLayout="row" >
            <span class="catName">
              {{prod.section}}
            </span>
          </div>
          <div fxLayout="row">
            <p class="prodName">
              {{prod.title}}
            </p>
          </div>
          <div fxLayout="row">
              <p class="small">{{prod.subtitle}}</p>
            </div>
          
          <div fxLayout="row"   class="margin-top-2 " >
              <carousel
              [height]="prod.section =='EXPLORE'?240:355"
            [objectFit]="'cover'"
            [cellWidth]="'100%'"
            [cellsToShow]="2"
            [arrows]="true"
            [autoplay]="false"
            [dots]="false"
            [loop]="true" class="z-index-0 popular-carousel" >
            <div *ngFor="let item of prod.sliders" class="carousel-cell ">
              <div fxLayout="column"   class="shop-cart " >
              <div fxLayout="row" class="popular-image" >
                
                    <img [src]='item.image' class="margin-5-0" [ngClass.sm]="'height-183'">
              </div>
              <div fxLayout="row" class="padding-top-10 padding-0-16 margin-bottom-8" *ngIf="item.heading ==''"  >

                  <div class="product-name overflow-dot">{{item.title}}</div>

              </div>
              <div fxLayout="row" class="padding-0-16 " *ngIf="item.heading ==''"  >

                <div  class="sub-product-name overflow-dot"  >{{item.subtitle}}</div>

            </div>
              <div fxLayout="row wrap" class="padding-bottom-16 padding-0-16" *ngIf="item.heading ==''" >
                  <div fxLayout="column" fxFlex="50"><s>
                    Rs. 5999.00
                </s></div>
                  <div fxLayout="column" fxFlex="50" class="finalPrice" fxLayoutAlign="center end" >Rs. 1099.00</div>
              </div>

              <div fxLayout="row" class="margin-bottom-8 padding-0-16 padding-top-10"  *ngIf="item.heading ==''" >
                <button mat-button class="background-primary custom-button" [ngClass.lt-sm]="'padding-0'" >ADD TO CART</button>
              </div>
              </div>
              <div fxLayout="row" *ngIf="item.heading!=''">
                <div class="product-name overflow-dot">{{item.heading}}</div>
              </div>
            </div>
        </carousel>
          </div>
        </div>
    </div>
  </div>
 