<mat-toolbar fxLayout="row" fxLayout="row" fxLayoutAlign="start center"
  class="background-primary padding-0-10 header-height fixed-header" fxHide.lt-md="true">

  <div fxLayout="row" fxFlex="16" >
    <img src="assets/common/logo/logo.jpg" class="logo" routerLink="/">
  </div>
  <div fxLayout="row" fxFlex="50" fxFlex.md="55" fxFlex.gt-md="57">
    <div class="search-outerbox margin-right-30" fxLayout="row" >
      <div class="pincode-box" fxLayout="column " fxFlex.gt-md="18%" fxFlex.gt-xs="25%">

        <button class="get-location" id="location_btn" type="button">L</button>

        <span class="margin-left-40"> Delivering to <br>
          <div class="inline-flex"> <input type="tel" maxlength="6" minlength="6" class="pin-input"
              value="614717"><button class="editIcon" type="button"></button></div>
        </span>

      </div>

      <div class="search-box" fxFlex fxLayout="column">
            <input type="text" class="search-input" placeholder="Search for medicine & wellness products…">
      </div>
      <div class="search-box-icon" fxFlex="8" fxLayout="column"></div>
    </div>
  </div>
  <div fxLayout="row" fxFlex="27" class="align-item-center">
      <div fxLayout="column" class="min-width-27" >
            <a href="#" class="font-color-white font-size-13 font-weight-700 letter-space-1">
                    UPLOAD
                  </a>
      </div>
      <div fxLayout="column" class="min-width-15" >
            <img src="assets/common/icons/shopping_cart_white.svg" class="shopping-cart">
      </div>
      <div fxLayout="column" >
            <a href="#" class="font-color-white font-size-14 letter-space-1" routerLink="/login">
                    <img src="assets/common/icons/profile.svg" class=""> <span class="signin">
                            Sign in / Sign up
                    </span>
                  </a>
      </div>

  </div>
</mat-toolbar>
<mat-toolbar fxLayout="row wrap" fxLayoutAlign="start center"
  class=" padding-0-10  fixed-header" fxHide.gt-sm="true" [ngClass]="common.showHeader()==false?'background-primary':'background-white'">
  <mat-toolbar-row class="mobile-header padding-0 " [ngClass]="common.showHeader()==true?'display-none':''">
  <div fxLayout="row" fxFlex >
    <img src="assets/common/logo/mobile-logo.jpg" class="mobile-logo" routerLink="/">
  </div>
  <div fxLayout="row" fxFlex="27" fxLayoutAlign="end center" fxLayoutGap="10px" >
        <div fxLayout="column" class="min-width-15" >
                <img src="assets/common/icons/offer_outline.svg" class="shopping-cart hight-24 width-24">
          </div>
        <div fxLayout="column" class="min-width-15" >
              <img src="assets/common/icons/shopping_cart_white.svg" class="shopping-cart  hight-24 width-24">
        </div>

  
    </div>
</mat-toolbar-row>
<!-- <mat-toolbar-row class="mobile-header padding-0" [ngClass]="showHeader()==true?'display-none':''">
<div class="mobile-search" fxLayout="row">
  <div fxLayout="column" fxFlex="90" class="font-size-14 font-weight-400 font-color-545454" >Search for medicine & wellness products...</div>
  <div fxLayout="column" fxFlex="10" fxLayoutAlign="center center"><img src="assets/common/icons/search-grey.svg" class="shopping-cart"></div>
</div>
</mat-toolbar-row> -->
<mat-toolbar-row class="mobile-header padding-0" [ngClass]="common.showHeader()==false?'display-none':''">
  <div fxLayout="row"  >
    <img src="assets/common/icons/arrow_back.svg" class="cursor" routerLink="/">
  </div>
  </mat-toolbar-row>
</mat-toolbar>
