<mat-toolbar fxLayout="row wrap" fxLayoutAlign="start center" class=" padding-0-10 background-primary"
  fxHide.gt-sm="true"  [ngClass]="common.showHeader()==true?'display-none':''">

  <mat-toolbar-row class="mobile-header padding-0">
    <div class="mobile-search" fxLayout="row">
      <div fxLayout="column" fxFlex="90" class="font-size-14 font-weight-400 font-color-545454">Search for medicine &
        wellness products...</div>
      <div fxLayout="column" fxFlex="10" fxLayoutAlign="center center"><img src="assets/common/icons/search-grey.svg"
          class="shopping-cart"></div>
    </div>
  </mat-toolbar-row>

</mat-toolbar>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="start center" class=""
  fxHide.lt-md="true"  [ngClass]="common.showHeader()==true?'display-none':''">

  <mat-toolbar-row class="sub-header padding-0 background-primary">
    <div class="" fxLayout="row" fxLayoutAlign="space-between center"  fxFlex="100" [ngClass.gt-md]="'submenu'">
        <div fxLayout="column" mat-menu-item  >
            <div fxLayout="row" fxLayoutGap="10px" [matMenuTriggerFor]="medicine">
                <div fxLayout="column" >
                    <img src="assets/common/icons/medicine.svg">
                </div>
                <div fxLayout="column" >
                        <a    class="submenu-link">Medicine<br/>
                        <small>Over 25000 products</small></a>
                </div>
            </div>
        </div>
        <div fxLayout="column" mat-menu-item  >
                <div fxLayout="row" fxLayoutGap="10px" >
                        <div fxLayout="column">
                            <img src="assets/common/icons/wellness.svg">
                        </div>
                        <div fxLayout="column" >
                                <a   class="submenu-link">Wellness<br/>
                                <small>Health products</small></a>
                        </div>
                </div>
        </div>
        <div fxLayout="column"  mat-menu-item   >
                <div fxLayout="row" fxLayoutGap="10px" >
                        <div fxLayout="column">
                            <img src="assets/common/icons/diagnostics.svg">
                        </div>
                        <div fxLayout="column" >
                                <a   class="submenu-link">Diagnostic<br/>
                                <small>Book tests & checkups</small></a>
                        </div>
                </div>
        </div>
        <div fxLayout="column" mat-menu-item  >
                <div fxLayout="row" fxLayoutGap="10px" [matMenuTriggerFor]="medicine" >
                    <div fxLayout="column" >
                        <img src="assets/common/icons/health-library.svg">
                    </div>
                    <div fxLayout="column" >
                            <a    class="submenu-link">Health Corner<br/>
                            <small>Trending tips from health experts</small></a>
                    </div>
                </div>
            </div>

        <mat-menu #medicine="matMenu" [overlapTrigger]="false">
                <button mat-menu-item>
                  <mat-icon>home</mat-icon>
                  <span>Bill Management</span>
                </button>
              </mat-menu>    
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="sub-header padding-0 background-white">
        <div class="" fxLayout="row" fxLayoutAlign="space-between center"  fxFlex="100"  [ngClass.gt-md]="'submenu'">
            <div fxLayout="column" mat-menu-item *ngFor="let menu of common.subSubMenu" >
                <a class="subSubmenu-link">
                    {{menu.titile}}
                </a>

            </div>
        </div>
    </mat-toolbar-row>

</mat-toolbar>
