<div fxLayout="column" fxFlex="100">
  <app-header></app-header>
   <div  class="full-width" [ngClass.gt-sm]="'margin-top-header'"
    [ngClass.lt-md]="'margin-top-header-mobile'" style="overflow-x: hidden;">
    <app-subheader></app-subheader>
    <app-dashboard *ngIf="common.showMainContent()"></app-dashboard>
    <router-outlet></router-outlet> 

  </div>
</div>
