<div fxLayout="column" fxLayoutAlign="center center" class="" [ngClass.gt-md]="'margin-0-134'"
  [ngClass.md]="'margin-0-100'">
  <div fxLayout="row" class="background-white container-form-full" [ngClass.gt-sm]="'margin-top-3  login-div'"
    [ngClass.lt-md]="'padding-top-30'">
    <div fxLayout="column" fxFlex="50" fxHide.lt-md="true">
      <img src="assets/login/sign-in-banner-new.png" alt="sign-in banner" height="528">
    </div>
    <div fxLayout="column" fxFlex="50" fxFlex.lt-md="100" class="" [ngClass.gt-sm]="'padding-30-48'"
      [ngClass.lt-md]="'padding-bottom-10'" *ngIf="!isShowAccount">
      <div fxLayout="column" class="padding-0-32" [ngClass.lt-md]="'padding-0-20'">
        <div fxLayout="column" class="margin-bottom-8">
          <div fxLayout="row">
            <span class="font-size-24 font-color-151b39 font-weight-700">Sign In / Sign Up</span>
          </div>
        </div>
        <div fxLayout="column" class="margin-bottom-35">
          <div fxLayout="row">
            <span class="font-color-light font-size-14">Sign up or Sign in to access your orders, special offers, health
              tips and more!</span>
          </div>
        </div>
        <div fxLayout="column">
          <div fxLayout="row">
            <span class="font-color-primary font-size-13 font-weight-700" >PHONE NUMBER</span>
          </div>
          <div fxLayout="row" class="container-form-full">
            <form class="container-form-full">
              <mat-form-field class="container-form-full" floatLabel="never">

                <span matPrefix class="number-prefix">+91 &nbsp;</span>
                <input type="tel" matInput placeholder="Enter your mobile no" maxlength="10" minlength="10" [(ngModel)]="phoneNumber" name="phoneNumber">
              </mat-form-field>
              <button mat-button class="background-primary custom-button" (click)="CreateAccount()">USE
                PASSWORD</button>
            </form>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" class="padding-25-0">
            <div fxLayout="row" class="divideline" fxFlex="35"></div>
            <div fxLayout="row" fxFlex="15" fxLayoutAlign="center center" class="orlabel font-weight-700">OR</div>
            <div fxLayout="row" class="divideline" fxFlex="35"></div>
          </div>

          <div fxLayout="row">
            <div id="sign-in-button"></div>
            <button mat-button class="background-white custom-button-border  border-color-primary " (click)="CreateAccount()">USE OTP</button>
          </div>

          <div fxLayout="row" class="margin-top-80" fxLayoutGap="20px" [ngClass.gt-md]="'padding-0-20'">
            <div fxLayout="column" fxFlex="50"><a class="btn-social btn-google" (click)="socialSignIn('google')"><span class="scgoogle"></span> Google
              </a></div>
            <div fxLayout="column" fxFlex="50" (click)="socialSignIn('facebook')"><a
                class="btn-social btn-facebook"><span class="scfacebook"></span>
                Facebook </a></div>
          </div>
        </div>

      </div>
    </div>
    <div fxLayout="column" fxFlex="50" fxFlex.lt-md="100" class="" [ngClass.gt-sm]="'padding-30-48'"
      [ngClass.lt-md]="'padding-bottom-10'" *ngIf="isShowAccount">
      <div fxLayout="column" [ngClass.lt-md]="'padding-0-20'">
        <div fxLayout="column" class="margin-bottom-8">
          <div fxLayout="row">
            <span class="font-size-24 font-color-151b39 font-weight-700">Create Account</span>
          </div>
        </div>

        <div fxLayout="column" class="container-form-full">
          <form class="container-form-full">
            <div fxLayout="column" fxLayoutGap="15px">
              <div fxLayout="column">
                <div fxLayout="row">
                  <span class="font-color-primary font-size-13 font-weight-700">EMAIL ID</span>
                </div>
                <div fxLayout="row">
                  <mat-form-field floatLabel="never">
                    <input type="text" matInput placeholder="Enter your Email Id">
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="column">
                <div fxLayout="row">
                  <span class="font-color-primary font-size-13 font-weight-700">FIRST NAME</span>
                </div>
                <div fxLayout="row">
                  <mat-form-field floatLabel="never">
                    <input type="text" matInput placeholder="Your First Name">
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="column">
                <div fxLayout="row">
                  <span class="font-color-primary font-size-13 font-weight-700">LAST NAME</span>
                </div>
                <div fxLayout="row">
                  <mat-form-field floatLabel="never">
                    <input type="text" matInput placeholder="Your Last Name">
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="column">
                <div fxLayout="row">
                  <span class="font-color-primary font-size-13 font-weight-700">PASSWORD</span>
                </div>
                <div fxLayout="row">
                  <mat-form-field floatLabel="never">
                    <input type="password" matInput placeholder="Enter Your Password">
                    <mat-icon matSuffix><img src="assets/common/icons/show_icon.png"></mat-icon>
                    <mat-hint align="start"> Use 8 or more characters with a mix of letters & numbers </mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="column">
                <div fxLayout="row">
                  <span class="font-color-primary font-size-13 font-weight-700">CONFIRM YOUR PASSWORD</span>
                </div>
                <div fxLayout="row">
                  <mat-form-field floatLabel="never">
                    <input type="password" matInput placeholder="Enter Your Password">
                    <mat-icon matSuffix><img src="assets/common/icons/show_icon.png"></mat-icon>
                  </mat-form-field>
                </div>
              </div>


              <div fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="row" class="padding-bottom-10">
                  <span class="font-color-light font-size-12 font-weight-700 letter-space-1">VERIFYING NUMBER</span>
                </div>
                <div fxLayout="row">
                  <div fxLayout="column" fxFlex>
                    <span class="font-color-light font-size-12">
                      We have sent 6 digit OTP on <span class="font-color-151b39 font-size-14">
                        +91-9843609636
                      </span>
                    </span>
                  </div>
                  <div fxLayout="column" fxFlex="15" class="font-size-12 font-color-ef4281 text-align-end">
                    <a (click)="isShowAccount=!isShowAccount">Change</a>
                  </div>
                </div>
                <div fxLayout="row wrap" class="user-otp" fxLayoutGap="10px" fxLayoutAlign="start stretch"
                  [ngClass.lt-md]="'mobile-user-otp'">
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch">
                    <mat-form-field [appearance]="'legacy'" [floatLabel]="'auto'">
                      <input matInput name="otpFieldOne" type="tel" required maxLength="1"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '')" #input id="1">

                    </mat-form-field>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch">
                    <mat-form-field [appearance]="'legacy'" [floatLabel]="'auto'">
                      <input matInput name="otpFieldOne" type="tel" required maxLength="1"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '')" #input id="1">

                    </mat-form-field>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch">
                    <mat-form-field [appearance]="'legacy'" [floatLabel]="'auto'">
                      <input matInput name="otpFieldOne" type="tel" required maxLength="1"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '')" #input id="1">

                    </mat-form-field>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch">
                    <mat-form-field [appearance]="'legacy'" [floatLabel]="'auto'">
                      <input matInput name="otpFieldOne" type="tel" required maxLength="1"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '')" #input id="1">

                    </mat-form-field>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch">
                    <mat-form-field [appearance]="'legacy'" [floatLabel]="'auto'">
                      <input matInput name="otpFieldOne" type="tel" required maxLength="1"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '')" #input id="1">

                    </mat-form-field>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="start stretch">
                    <mat-form-field [appearance]="'legacy'" [floatLabel]="'auto'">
                      <input matInput name="otpFieldOne" type="tel" required maxLength="1"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '')" #input id="1">

                    </mat-form-field>
                  </div>

                </div>
                <div fxLayout="row">
                  <div fxLayout="column" fxFlex>
                    <span class="font-color-light font-size-12">
                    </span>
                  </div>
                  <div fxLayout="column" fxFlex="20" class="font-size-12 font-color-ef4281 text-align-end">
                    <a>Resend OTP</a>
                  </div>
                </div>
              </div>


              <div fxLayout="column">
                <div fxLayout="row">
                  <button mat-button class="background-primary custom-button">VERIFY</button>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

  </div>
  <div fxLayout="row" fxFlex="20" fxLayoutAlign="center center" class="padding-25-0 ">
    <p class="font-color-light font-size-12 text-align-center"> By continuing you agree to our <a
        href="/terms-and-conditions" class="font-color-ef4281">Terms of service</a><br> and <a href="/privacy-policy"
        class="font-color-ef4281">Privacy &amp; Legal Policy.</a></p>
  </div>

</div>