/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    font-weight: 300;
    background: #f6f6f7;
    font-family: Lato;
    margin: 0px;
}

//$primary: #24aeb1;
$primary: #ffde16;
$white-color: #fff;
$header-height: 100px;
$mobile-header-height: 56px;
$sub-header-height: 56px;


/*Start Font Size */
$landing-large-font:68px;
$landing-small-font:28px;
$extra_large_font:40px;
$large_font : 36px;
$headline : 26px;
$sub_headline : 20px;
$small_font: 14px;
$tab_sub_headline : 18px;
$paragraph : 16px;
$medium-font:32px;

/* Mixins */

@mixin height-width($width, $height, $border) {
    width: $width;
    height: $height;
    border: $border;
  }

@mixin input-box($width, $height) {
    @include height-width($width, $height, 1px solid rgba(21,27,57,.4));
    border-radius: 0px;
    padding: 0px;
    background-color: #f7f7f7;
  
    .mat-form-field-underline {
      width: 0%;
    }
  
    .mat-form-field-infix {
      border-top: 2px;
      padding: 13px 20px;
      line-height: 24px;
    }
  
    .mat-form-field-flex {
      align-items: center;
    }
  }

/* Common Part */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px !important;
}

.background-primary {
    background: $primary;
}

.background-white {
    background: $white-color;
}

.border-color-primary {
    border: 1px solid !important;
    border-color: $primary !important;
}

/* Font Part */
.font-color-primary {
    color: $primary !important;
}

.font-color-white {
    color: $white-color;
}

.font-color-151b39 {
    color: #151b39;
}

.font-color-light {
    color: rgba(21,27,57,.6);
}

.font-color-ef4281 {
    color: #ef4281;
}

.font-color-545454 {
    color: #545454;
}

.font-color-6f7284 {
    color: #6f7284;
}



/* Start All Font Sizes */
    .font-size-12 {
        font-size: 12px !important;
    }
    .font-size-13 {
        font-size: 13px;
    }
    .font-size-14 {
        font-size: 14px;
    }
    .font-size-15 {
        font-size: 15px;
    }
    .font-size-16 {
        font-size: 16px;
    }
    .font-size-17 {
        font-size: 17px;
    }
    .font-size-18 {
        font-size: 18px;
    }
    .font-size-24 {
        font-size: 24px;
    }
  
  .font-weight-200 {
    font-weight: 200;
  }
  
  .font-weight-500 {
    font-weight: 500;
  }
  
  .font-weight-400 {
    font-weight: 400;
  }
  
  .font-weight-600 {
    font-weight: 600 !important;
  }
  
  .font-weight-700 {
    font-weight: 700 !important;
  }

/* Padding Part */
.padding-0-10 {
    padding: 0 10px !important;
}

.padding-0-20 {
    padding: 0 20px !important;
}


.padding-0-16 {
    padding: 0 16px;
}

.padding-0 {
    padding: 0 !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-30-48 {
    padding: 30px 48px!important;
}

.padding-0-32 {
    padding: 0 32px;
}

.padding-0-20 {
    padding: 0 20px;
}

.padding-25-0 {
    padding: 25px 0;
}

.padding-top-30 {
    padding-top: 30px !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-bottom-16 {
    padding-bottom: 16px;
}

.padding-0-16 {
    padding: 0 16px;
}

.padding-left-30 {
    padding-left: 30px !important;
}

/*  Margin Part */
.margin-right-30 {
    margin-right: 30px;
}

.margin-right-24 {
    margin-right: 24px;
}

.margin-bottom-24 {
    margin-bottom: 24px;
}

.margin-left-40 {
    margin-left: 40%;
}


.margin-left-50 {
    margin-left: 50px;
}

.margin-top-3 {
    margin-top: 3rem;
}

.margin-top-2 {
    margin-top: 2rem;
}
.margin-0-134 {
    margin: 0 134px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-5-0 {
    margin: 5px 0;
}

.margin-20-0 {
    margin: 20px 0;
}

.margin-20 {
    margin: 20px;
}

.margin-0-100 {
    margin: 0 100px;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-bottom-35 {
    margin-bottom: 35px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-top-header {
    margin-top: $header-height;
}


.margin-top-header-mobile {
    margin-top: $mobile-header-height;
}



/* Height Part */
.header-height {
    height: $header-height !important;
}


.height-100 {
    height: 100px !important;
}

.height-320 {
    height: 320px !important;
}

.height-350 {
    height: 350px !important;
}

.height-440 {
    height: 440px  !important;
}

.height-183 {
    height: 183px !important;
}

.height-24 {
    height: 24px;
}

.height-auto {
    height: auto !important;
}

/* Width Part */
.min-width-15 {
    min-width: 15%;
}

.min-width-27 {
    min-width: 27%;
}

.width-24 {
    width: 24px;
}

.full-width {
    width: 100%;
}

/* Header Part */
.logo {
    width: 81%;
    height: 60px;
}

.mobile-logo {
    width: 70px;
    height: 50px;
}

.search-outerbox {
    height: 48px;
    width: 100%;
    background: #fff;
    border-radius: 6px;
}

.pincode-box {
    background: url(/assets/common/icons/location-on.svg) 11% 50% no-repeat rgba(21,27,57,.06);
    font-family: Lato;
    font-size: 12px;
    color: rgba(21,27,57,.6);
    line-height: 16px;
}

.get-location {
    position: relative;
    top: 14px;
    left: 13px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    text-indent: 0;
    font-size: 0;
    border: 0;
    background: 0 0;
    -webkit-appearance: none;
}

.pin-input {
    font-family: LatoBold;
    font-size: 14px;
    color: #151b39;
    line-height: 1.43;
    letter-spacing: normal;
    width: 50px;
    border: 0;
    background: 0 0;
    font-weight: 700;
}

.editIcon {
    background: url(/assets/common/icons/edit.svg) center/12px no-repeat;
    width: 12px;
    height: 12px;
    margin-left: 0;
    box-shadow: none;
    border: 0;
    position: relative;

}

.search-box-icon {
    background: url(/assets/common/icons/search-yellow.png) center center no-repeat rgba(247, 255, 56, 0.34);
    width: 56px;
    height: 48px;
}

.search-input {
    background: #fff;
    border: 0;
    border-radius: 0 6px 6px 0;
    font-family: Lato;
    font-size: 14px;
    color: #151b39;
    height: 48px;
    padding: 0 70px 0 12px;
}

.mobile-header {
    height: $mobile-header-height !important;
    display: block;
    position: relative;
    z-index: 3;
}

.sub-header {
    height: $sub-header-height !important;
}

.submenu {
    margin: 0 10%;
}

.submenu-link {
    font-size: 14px;
    color: $white-color;
    font-weight: 700;
    line-height: 1;
    margin-top: 5px;
}

.subSubmenu-link  {
    color: #151b39;
    font-size: 13px;
    font-weight: 400;
}
.mobile-search {
    position: absolute;
    width: 100%;
    background: #ffffff;
    padding-left: 14px;
    height: 36px;
    display: inline-block;
    z-index: 1;
    border-radius: 5px;
}

.shopping-cart {
    width: 24px;
    cursor: pointer;
}

.signin {
    position: relative;
    bottom: 10px;
    left: 10px;
}

.fixed-header {
    position: fixed;
    z-index: 1000;
}

.main-router-container {
    overflow: auto;
    height: calc(100% - 100px);
}


.inline-flex {
    display: inline;
}

ul {
    display: inline-flex !important;
    margin: 0px !important;
    padding: 0px !important;
    list-style-type: none;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    padding-inline-start: 0px !important;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.letter-space-1 {
    letter-spacing: 1px;
}

.align-item-center {
    align-items: center;
}

/* Login Part */ 
.login-div {
    width: 100%;
    background: #fff;
    border-radius: 16px;
}

.container-form-full {
    width: 100%;
}

.number-prefix {
    border-right: 1px solid #151b39;
}

.custom-button {
    width: 100%;
    letter-spacing: 1px;
    color: $white-color;
    font-weight: 700;
    font-size: 14px;
}

.custom-button-border {
    width: 100%;
    letter-spacing: 1px;
    color: $primary;
    font-weight: 500;
    font-size: 12px;
}

.btn-social {
    display: block;
    background: #fff;
    border: 1px solid rgba(21,27,57,.2);
    font-family: Lato;
    font-size: 14px;
    color: rgba(21,27,57,.6);
    text-align: center;
    padding: 10px 10px 10px 30px;
    border-radius: 4px;
    position: relative;
}

.divideline {
    border-top: 1px solid rgba(21,27,57,.1);
    height: 1px;
}

.orlabel {
    font-size: 12px;
    color: rgba(21,27,57,.38);
}

.scfacebook {
    background: url(/assets/common/icons/facebook-icon.png) center/auto 18px no-repeat;
    border: none;
    width: 50px;
    height: 20px;
    position: absolute;
    left: 0;
}

.scgoogle {
    background: url(/assets/common/icons/google-icon.png) center/auto 18px no-repeat;
    border: none;
    width: 50px;
    height: 20px;
    position: absolute;
    left: 0;
}

.text-align-center {
    text-align: center;
}

.user-otp {
    .mat-form-field {
      @include input-box(55px, 46px);
    }
  }

.mobile-user-otp {
    .mat-form-field {
        width: 43px !important;
    }
}

.text-align-end {
    text-align: end;
}

.display-none {
    display: none !important;
}

span:focus,a:focus,img:focus {
    outline: none !important;
    border: 0 !important;
 }

a:hover,img:hover,.cursor {
    cursor: pointer;
}



/* Mat form field */ 
mat-form-field {
    width: 100%;
}
.mat-form-field-infix {
    border-top: 0px !important; 
}

.mat-form-field-prefix {
    margin-right: 5px;
}
.mat-form-field-appearance-legacy .mat-form-field-underline, .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: rgba(21,27,57,.04);
}

.mat-form-field-appearance-legacy .mat-form-field-label, .mat-form-field.mat-focused .mat-form-field-label {
    color: #d5d5db;
}

 /* Custom Mat carousel */
 .mat-mini-fab.mat-accent {
    background-color: $white-color;
 }

 .mat-mini-fab.mat-accent[disabled], .mat-mini-fab[disabled][disabled] { 
    background-color: $primary;
 }
.main-carousel {
    .carousel > button:first-of-type {
        background: url(/assets/common/icons/prev.svg) center/auto 24px no-repeat;
     }
    
     .carousel > button:last-of-type {
        background: url(/assets/common/icons/next.svg) center/auto 24px no-repeat;
     }
    
     .carousel > button span mat-icon {
         display: none;
     }
}

.mobile-main-carousel {
    .carousel > button:first-of-type {
        background: url(/assets/common/icons/prev.svg) center/auto 15px no-repeat;
        left: -13px !important;
        top: 57% !important;
     }
    
     .carousel > button:last-of-type {
        background: url(/assets/common/icons/next.svg) center/auto 15px no-repeat;
        right: -10px !important;
        top: 57% !important;
     }
    
     .carousel > button span mat-icon {
         display: none;
     }

     .carousel-indicators {
         display: none !important;
     }
}

.custom-slide1 {
    margin: 20px 16px;
}

.z-index-0 {
    z-index: 0 !important;
}

.Mpayment-carousel,.popular-carousel {
    .carousel-arrow-prev {
        left: -10px !important;
    }
    .carousel-arrow-next {
        right: -13px !important;
    }
}

.mat-card-header { 
    line-height: 1;
    align-items: center;
}

.payment-cart {
    height: 74px;
    background: $white-color;
    align-items: center;
    border-radius: 5px;
    padding: 12px 20px;
   div > span {
        font-size: 12px !important;
        color: #151b39;
        font-weight: 700;
        margin: 0px 0px 8px;
    }
    p {
        font-size: 11px;
        color: #6F7284;
        margin: 0px;
    }
}

.payment-icon {
    height: 36px;
    width: 52px;
    margin-right: 14px;
    float: left;
    padding-right: 14px;
    border-right: 1px solid rgba(21,27,57,0.1);
}

.popular-cart {
    padding: 16px 23px;
    border-radius: 8px;
    background: $white-color;
    span {
        font-size: 12px;
        font-weight: 700;
        color: #6F7284;
        letter-spacing: 1px;
    }
    p {
        color: #151b39;
        font-size: 20px;
        letter-spacing: 0.25px;
        padding: 4px 0;
    }
    .small {
        font-size: 12px;
        letter-spacing: 0;
        color: #6F7284;
    }
}

.main-shop-cart {
    padding: 16px 23px;
    border-radius: 8px;
    background: $white-color;
    .catNam {
        font-size: 12px;
        font-weight: 700;
        color: #6F7284;
        letter-spacing: 1px;
    }
    .prodName {
        color: #151b39;
        font-size: 20px;
        letter-spacing: 0.25px;
        padding: 4px 0;
    }
    .small {
        font-size: 12px;
        letter-spacing: 0;
        color: #6F7284;
    }
}

.product-name {
    font-size: 16px;
    line-height: normal;
    letter-spacing: .15px;
    color: #151b39;
    font-weight: 700;
    height: 35px;
}

.sub-product-name {
    font-style: italic;
    line-height: 16px;
    color: #6f7284;
    font-size: 13px;
    height: 31px;
}

s {
    font-size: 12px;
    color: rgba(21,27,57,.4);
}

.finalPrice {
    color: #ef4281;
    font-size: 13px;
    font-weight: 700;
}

hr {
    border: 0;
    border-top: 2px solid rgba(21,27,57,.05);
    margin: 14px;
}

.save {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #378f30;
    text-transform: uppercase;
}

.book {
    font-size: 12px;
    font-weight: 700;;
    letter-spacing: 1px;
    color: #24aeb1;
}

.shop-cart {
    border: solid 1px rgba(112,112,112,.38) !important;
    border-radius: 8px;
}

.overflow-dot {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.overflow-dot-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}




